output/
dataset/scannet_og/
radio_gs/configs/generated/scannet_og/


*.log
*.pt
*.pth
*.ply
*.npy
*.npz

!checkpoints/
checkpoints/*
!checkpoints/siglip2_feat_projection.pth
!checkpoints/siglip2_text_embeddings_v2.pt
!checkpoints/siglip2_text_embeddings_v4.pt

__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
env/

build/
dist/
*.egg-info/

.DS_Store
.idea/
.vscode/
